
<div class="dashboard-content">
  <div class="left-sidebar-with-map">
    <div class="left-sidebar">
      <h2><%= @trip.name %></h2>
      <p>Events:</p>
      <% @branches.each do |branch| %>
        <% branch.events.each do |event| %>
          <li><%= event.name %></li>
        <% end %>
      <% end %>
    </div>
    <div class="map-dashboard">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
  <div class="treep-container">
    <h1>TREEP</h1>
  </div>
</div>


