<!-- navbar à insérer -->

<h1><%= @trip.name %></h1>

<p>Events:</p>
<% @branches.each do |branch| %>
  <% branch.events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
<% end %>

 <div class="mermaid">
  graph LR
      A --- B
      B-->C[fa:fa-ban forbidden]
      B-->D(fa:fa-spinner);
  </div>
