.container-contact {
  margin-top: 40px;
  text-align: center;
  h1 {
    color: rgb(46, 64, 88);
    padding-bottom: 20px;
  }
  .card-container-contact {
    justify-content: space-around;
    color: rgba(40,40,40,0.9);
    h2 {
      font-size: 18px;
      margin-top: 20px;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
    }
    .contact-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width:230px;
      margin: 0 0 30px 0;
      padding-bottom: 15px;
      a {
        color: rgba(40,40,40,0.5);
        font-size: 24px;
        &:hover {
        color: rgba(40,40,40,0.9);
        }
      }
      .img-contact {
        width:100%;
      }
    }
  }
}

.youtube-vid {
  margin-top: 30px;
  margin-bottom: 60px;
  iframe {
    height: 315px;
    width: 100%;
    max-width: 560px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
