.wrapper-final {
  min-height: calc(100vh - 120px);
}

.btn-final {
  font-size: 16px;
}

.map-final-container {
  background-color: red;
  min-height: calc(100vh - 196px);
}

// TIMELINE SUR LA GAUCHE
.timeline-final {
  padding-top: 20px;
  background: linear-gradient(to bottom, rgba(66, 82, 102, 0.94) 0%, rgba(66, 82, 102, 0.93) 100%);
  .congrats {
    p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    color: white;
    }
  }
  h1 {
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 35px;
  }
  h3 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;

    color: white;
  }
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
    text-align: justify;
  }

  .timeline{
    position: relative;
    margin-bottom: 3rem;
  }

  .timeline:before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: rgb(253, 179, 35);

    position: absolute;
    top: 0;
  }

  .timeline__content {
    .background-card-final {
      position: relative;
      height: 280px;
      text-shadow: 0 1px 3px rgba(0,0,0,0.6);
      background-size: cover !important;
      background-position: center;
      color: white;
      position: relative;
      padding: 10px;
      overflow: hidden;
      h4 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
      .name {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .price-bandeau {
        text-shadow: none;
        padding: 0px 43px 0px 97px;
        background-color: #fdb323;
        position: absolute;
        top: -2px;
        right: -38px;
        z-index: 1;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform:    rotate(45deg);
        -ms-transform:     rotate(45deg);
        -o-transform:      rotate(45deg);
      }
      .price {

      }

    }
    .card-content {
      padding: 10px;
      position: relative;
      h4 {
        font-size: 30px;
        color: rgba(75,75,75,1);
      }
      p {
        color: rgba(75,75,75,1);
      }
      .category {
        position: absolute;
        bottom: 0px;
        right: 10px;
      }
    }
  }

  .timeline__group{
    position: relative;
  }

  .timeline__group:not(:first-of-type){
    margin-top: 4rem;
  }

  .timeline__year{
    padding: .5rem 1.5rem;
    color: #fff;
    background-color: rgb(253, 179, 35);

    position: absolute;
    left: 0;
    top: 0;
  }

  .timeline__box{
    position: relative;
    // padding-top: 30px;
  }

  .timeline__box:not(:last-of-type){
    margin-bottom: 30px;
  }

  .timeline__box:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(253, 179, 35);

    position: absolute;
    left: 0;
    z-index: -1;
  }

  .timeline__date{
    min-width: 65px;
    position: absolute;
    left: -10px;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    text-align: center;

    background-color: rgb(253, 179, 35);
    color: #fff;
  }

  .timeline__day{
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }

  .timeline__month{
    display: block;
    font-size: .8em;
    text-transform: uppercase;
  }

  .timeline__post{
    border-radius: 2px;
    border-left: 3px solid rgb(253, 179, 35);
    box-shadow: 4px 4px 22px -1px rgb(58, 70, 84);
    background-color: #fff;
  }

  @media screen and (min-width: 641px){

    .timeline:before{
      left: 30px;
    }

    .timeline__group{
      padding-top: 0px;
    }

    .timeline__box{
      padding-left: 80px;
    }

    .timeline__box:before{
      top: 50%;
      transform: translateY(-50%);
    }

    .timeline__date{
      top: 50%;
      margin-top: -27px;
    }
  }

  @media screen and (max-width: 640px){

    .timeline:before{
      left: 0;
    }

    .timeline__group{
      padding-top: 40px;
    }

    .timeline__box{
      padding-left: 20px;
      padding-top: 70px;
    }

    .timeline__box:before{
      top: 90px;
    }

    .timeline__date{
      top: 0;
    }
  }

  .timeline{
    font-size: 16px;
  }

  @media screen and (min-width: 768px){

    html{
      font-size: 62.5%;
    }
  }

  @media screen and (max-width: 767px){

    html{
      font-size: 55%;
    }
  }

  /*
  * demo page
  */

  @media screen and (min-width: 768px){

    html{
      font-size: 62.5%;
    }
  }

  @media screen and (max-width: 767px){

    html{
      font-size: 50%;
    }
  }

  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    color: #222;

    background-color: #f0f0f0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  p:last-child{
    margin-bottom: 0;
  }

  .page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .page__demo{
    flex-grow: 1;
  }

  .main-container{
    max-width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-left: auto;
    margin-right: auto;
  }

  .page__container{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 800px;
  }

  .footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .footer__link{
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 361px){

    .footer__container{
      display: flex;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 360px){

    .melnik909{
      display: none;
    }
  }

// MAPPING

  // .map-final {
  //   width: 60% !important;
  //   height: 80% !important;
  // }
}

.blink_me {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
