    .text {
      font: 600 13px helvetica;
    }
    .title {
      font: 600 30px helvetica;
    }
    .desc {
      font: 400 20px helvetica;
    }
    .branch {
      font: 600 17px helvetica;
    }
