.navbar-show {
  visibility: hidden;
  height: 0;
}
.footer-show {
  visibility: hidden;
  height: 0;
}

.logo-treep-blue {
   vertical-align: middle;
  max-height: 45px;
}
svg {
  overflow: visible;
}
// .treep-flexbox {
//   display: flex;
//   justify-content: space-around;
//   z-index: 1,
// }

.content {
  // background: linear-gradient(180deg, rgba(246,246,246,1), rgba(246,246,246,.8)),
  // url('https://images.unsplash.com/photo-1520790552719-b5cfd6b21953');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  margin-bottom: -40px;
  padding-top: 50px;
}

.main-panel {
    // float: right;
    // width: calc(100% - 660px);
}
.main-panel > .content {
    // padding: 30px 15px;
    // min-height: calc(100% - 123px);
}


// .main-panel .navbar {
//     margin-bottom: 0;
// }

#cy {
  min-height: 100vh;
}
#add-node {
  height: 27px;
  width: 27px;
  color: gray;
  position: absolute;
  right: -11px;
  top: -4px;
  background-color: white;
  border-radius: 100%;
}

