.dashboard-content {
  display: flex;
  height: 100vh;
}

.left-sidebar-with-map {
  width: 400px;
  height: 100%;
  .left-sidebar {
    background-color: rgba(0, 38, 255, 0.7);
    height: 80%;
    h2 {
      margin-top: 0;
      padding: 0 5px;
      text-align: center;
    }
    p {
      padding: 0 5px;
    }
  }
  .map-dashboard {
    background-color: rgba(8, 163, 0, 0.7);
    height: 20%;
    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}


.treep-container {
  background-color: rgba(255, 255, 0, 0.7);
  width: 100%;
  .flex-grow {
  flex: 1 0 auto;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
