.container-index {
  min-height: calc(100vh - 120px);
  padding: 25px 0 20px 0;
  background: url('git.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -60% -10%;
}
.add-trip-symbol {
  font-size: 50px;
  // color: white;
  // font-weight: lighter;
}
