.container-index {
  min-height: calc(100vh - 205px);
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}

.add-trip-symbol
{
  font-size: 100px;
  font-weight: lighter;
}

