.modal {
  z-index: 1051;
}

.pac-container {
  z-index: 1052;
}

.btn-primary:disabled {
  background-color: rgb(190, 189, 189);
}

.radio-categories {
  input {
    visibility:hidden;
  }
  p {
    margin: 0px;
  }
  .icon-category {
    font-size: 70px
  }
  .form-check {
    padding-left: 0;
  }
  .category-choices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .category-choice {
    background: #b7b7b7;
    padding: 20px 35px;
    border-radius: 5px;
    opacity: .6;
    flex: 0 0 30%;
    text-align: center;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  .active {
  background: rgb(253, 179, 35);
  color: white;
  opacity: 1;
  }
}

.modal-body-form {
  padding-bottom: 0px;
  ::placeholder {
    opacity: 0.5;
  }
}


.footer-btn-center {
  display: flex;
  justify-content: center;
}
