.modal-event {
  .event-img {
  max-width: 250px;
  }
}

.event-show-modal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-show-modal-content {
  padding: 15px;
}

.modal-header-btn-right {
  margin-left: 30%;
}
