.modal-event {
  .event-img {
  max-width: 250px;
  }
}

.event-show-modal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-show-modal-content {
  padding: 15px;
}

.modal-header-btn-right {
  margin-left: 0;
}


.tippy-tooltip.treep-theme {
  background-color: white;
  max-width: 500px;
}

.tippy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  p {
    color: purple;
  }
}

.event-img {
  max-width: 250px;
  }

