<nav class="navbar navbar-expand-lg" color-on-scroll="500">
  <div class="container-fluid">

    <div class="navbar-brand">
      <%= @trip.name %>
    </div>

    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to trips_path, class: "nav-link" do %>
          <span class="no-icon">My trips</span>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="no-icon">Account</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
