<div class="container">
  <div class="container-contact" style="margin: 30px, 0;">

    <h1>Our Awesome Team!</h1>
    <div class="row card-container-contact">

      <div class="contact-card">
        <%= image_tag("yoann.png", class: "img-contact")%>
        <div>
          <h2>Yoann Saunier</h2>
          <p>Full Stack Web Developper</p>
          <a href="https://github.com/ynnsnr"><i class="fab fa-github"></i></a>
          &nbsp;
          <a href="https://www.linkedin.com/in/yoann-saunier-536368151"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="contact-card">
        <%= image_tag("alex.png", class: "img-contact")%>
        <div>
          <h2>Alex Marichal</h2>
          <p> Manager at BUILDERS Solutions</p>
          <a href="https://github.com/cleuteu"><i class="fab fa-github"></i></a>
          &nbsp;
          <a href="https://www.linkedin.com/in/alex-marichal-59789310a/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="contact-card">
        <%= image_tag("thomas.png", class: "img-contact")%>
        <div>
          <h2>Thomas Pouillevet</h2>
          <p>Full Stack Web Developper</p>
          <a href="https://github.com/thompouillevet"><i class="fab fa-github"></i></a>
          &nbsp;
          <a href="https://www.linkedin.com/in/thomaspouillevet/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="contact-card">
        <%= image_tag("eugene.png", class: "img-contact")%>
        <div>
          <h2>Eugène Ernoult</h2>
          <p>CMO at Weglot</p>
          <a href="https://github.com/e-ernoult"><i class="fab fa-github"></i></a>
          &nbsp;
          <a href="https://www.linkedin.com/in/eernoult/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div class="youtube-vid text-center">
    <p>
      We started Treep at Le Wagon, feel free to check our demoday video 🚀
    </p>
    <iframe src="https://www.youtube.com/embed/_BwJYWpmMr4?rel=0&amp;start=3313" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>
