.arrow i {
  color: #FBB238;
  cursor: pointer;
  margin-top: 20px;
  font-size: 25px;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  // transition: all 0.7s ease;
  position: absolute;
  top: 0;
  left: -7px;
}
.arrow i:hover {
  // transform: rotateZ(-180deg);
  background-color: rgba(0, 0, 0, 0.13);
}
