.btn-primary {
  background-color: rgba(253, 179, 35, 0.8);
  border-width: 0;
  &:hover {
  background-color: rgba(253, 179, 35, 1);
  text-decoration: none;
  }
}

.btn-to-final {
  margin-right: 33px;
}

.yellow-btn {
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  background: rgb(247, 202, 24);
  transition: background 0.3s ease;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  &:hover {
  opacity: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  }
}

.grey-btn {
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  font-weight: bold;
  background: #DDDDDD;
  transition: background 0.3s ease;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  &:hover {
  opacity: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  }
}


a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  // margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  // margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  border-radius: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Thar Buttons */

a.animated-button.thar-three {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}


/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.gradient-btn:hover {
  background-position: right center;
  text-decoration: none;
  color: white;
   /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}
