.logo-sidebar {
  height: 37px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    // left: 0;
    width: 260px;
    // display: block;
    color: #fff;
}
.sidebar {
    // background: linear-gradient(to bottom, rgba(66, 82, 102, 0.94) 0%, rgba(66, 82, 102, 0.93) 100%),
    // url(img-road-sidebar);
    // background-size: cover;
    background: linear-gradient(to bottom, rgba(66, 82, 102, 0.94) 0%, rgba(66, 82, 102, 0.93) 100%);
}
.sidebar .logo {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.sidebar .logo .simple-text {
    padding: 1px 0px;
    display: block;
    // color: #FFFFFF;
    text-align: center;
    // font-weight: 400;
    line-height: 30px;
}
.sidebar .nav a,
.table > tbody > tr .td-actions .btn {
    transition: all 150ms ease-in;
}
.sidebar .nav {
    margin-top: 10px;
}
.sidebar .nav .open > a,
.sidebar .nav li.dropdown .dropdown-menu li:hover > a,
.sidebar .nav li:hover > a {
    background-color: rgba(255, 255, 255, 0.13);
}
.sidebar .nav li > a {
    // color: #FFFFFF;
    margin: 2px 10px;
    opacity: .86;
    border-radius: 4px;
    cursor: pointer;
}
.sidebar .nav p {
    margin: 0;
    font-size: 14px;
}
.sidebar .nav i {
    font-size: 22px;
    float: left;
    // margin-right: 15px;
    // line-height: 30px;
    width: 30px;
    text-align: center;
}


.list-group-item {
  background-color: inherit;
  padding: 0 20px 0 0;
  border: none;
}


.total {
  background-color: rgba(255, 255, 255, 0.13);
  padding: 10px 0px 20px 25px;
}
