.sidebar {
  min-width: 260px;
  color: #fff;
  // background: linear-gradient(to bottom, rgba(66, 82, 102, 0.94) 0%, rgba(66, 82, 102, 0.93) 100%),
  // url(img-road-sidebar);
  // background-size: cover;
  background: linear-gradient(to bottom, rgba(66, 82, 102, 0.94) 0%, rgba(66, 82, 102, 0.93) 100%);
  box-shadow: 0 30px 60px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sidebar .logo {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 260px;background-color: #4D5B6D;
  z-index: 2;
  text-align: center;
    display: block;
    .logo-image {
    height: 37px;
  }
}
.sidebar .nav {
  margin: 0 8px 0 8px;
  a {
    transition: all 150ms ease-in;
    padding: 8px;
  }
  li:hover > a {
    background-color: rgba(255, 255, 255, 0.13);
  }
  li > a {
    opacity: .86;
    border-radius: 4px;
    cursor: pointer;
  }
  p {
    margin: 0;
    margin-left: -10px;
    font-size: 14px;
    width: 132px;
  }
  i {
    font-size: 16px;
    padding-bottom: 4px;
  }
}
.list-group-item {
  background-color: inherit;
  padding: 0;
  border: none;
}
.total {
  width: 260px;
  position: fixed;
  bottom: 0;
  padding: 18px 8px 18px 18px;
  background-color: #677382;
  z-index: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
