// Graphical variables
@import "config/fonts";
@import "config/colors";
//@import "config/bootstrap_variables";

// External libraries
//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css?family=Rubik:500|Roboto:300,400,700');


h1,h2,h3,h4,h5,h6 {
font-family: "Rubik";
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
  // background-color: #4D5B6C;
}
